{% extends 'nostalgic/index.html.twig' %}
{% block body %}
        <ul class="list-reset">
        {% for result in results %}
            <li>
                <a href="nostalgic/channelId/{{ result.snippet.channelId }}">
                    <img src="{{ result.snippet.thumbnails.default.url }}" alt=" {{ result.snippet.channelTitle }}">
                    {{ result.snippet.channelTitle }}
                </a>
            </li>
        {% endfor %}
        </ul>
{% endblock %}